/* .nav {
    display: flex;
    justify-content: end;
}

.header {
    background-color: blue;
} */


header{
    display: flex;
    justify-content: end;
}

.p-3{
    background-color: palegoldenrod;
    margin-top: 15px;
}

p{
    padding-top: 55px;
    display: flex;
    justify-content: center;
}

.caixa {
    width: 1100px; 
    height: 550px; 
    background: #D9D9D9; 
    margin-left: 6%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}